%h1 Редактирование фотографии

= render 'form'

%br
= link_to @photo, class: 'btn btn-primary' do
  =fa_icon 'image'
  Показать

=link_to album_path(@photo.album), class: 'btn btn-info' do
  =fa_icon 'reply'
  Назад к альбому
